.contact-heading {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
  display: flex !important;
}

.contact-heading1 {
  color: #dee3e4;
  opacity: 0.4; 
  font-weight: 600;
  font-size: 4.5rem;
  text-transform: uppercase;
  margin-bottom: 0; 
  width: 100%;
}

.contact-heading2 {
  font-weight: 600;
  line-height: 1.6;
  font-size: 2.25rem;
  color: #343a40;
  margin-bottom: 0;
  width: 100%;
  position: absolute;
  font-family: "Poppins", sans-serif;
  margin-top: 75px;
}

.contact-line {
  border-color: #20c997;
  width: 80px;
  border-width: 3px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-bottom: 2px solid #20c997;
}

.contact-section-container {
  display: flex;
  justify-content: space-around;
}
.form-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.fa-map-marker-alt {
  color: #20c997;
}

.fa-phone-alt {
  color: #20c997;
}

.fa-envelope {
  color: #20c997;
}

.contact-content-heading {
  font-size: 1.3125rem;
  text-transform: uppercase;

  color: #343a40;
  font-weight: 500;
}
.contact-form {
  padding: 5% 10%;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  color: #343a40;
  flex-direction: column;
}

.contact-content {
  position: relative;
  width: 100%;
  display: block;
  align-self: center;
  margin-left: 90px;
}

.address {
  margin-bottom: 50px;
}

.form-group {
  padding: 5% 10%;
}

.form-input {
  width: 120%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  border-radius: 5px;
}
.form-input:focus {
  border: white;
  outline: white;
}

.contact-button2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button4 {
  margin-left: 20%;
  text-decoration: none;
  color: #343a40;
  border-color: #20c997;
  padding: 0.8rem 2.6rem;
  font-weight: 500;
  border-width: 2px;
  width: 100%;

  border-style: solid;
  border-radius: 50rem;
}
.button4:hover {
  background-color: #20c997;
  color: #fff;
  transition-duration: 0.5s;
}

.heading {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 20px;
  padding: 5% 10%;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.footer-p {
  text-transform: uppercase;
  color: #343a40;
}

.footer-p-2 {
  color: #343a40;
}

.fa-star {
  color: yellow;
  z-index: 3;
}

@media screen and (max-width: 720px) {
  .nav-button {
    top: 3%;
    right: 5%;
  }
}
